{% extends "!page.html" %}
{% block extrahead %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@MagicMaterials" />
    <meta name="twitter:image" content="https://hiphive.materialsmodeling.org/_static/logo-simple.png" />
    <meta property="og:title" content="hiPhive" />
    <meta property="og:description" content="hiPhive is a tool for efficiently extracting high-order force constants from atomistic simulations, most commonly density functional theory calculations. It has been implemented in the form of a Python library, which allows it to be readily integrated with many first-principles codes and analysis tools accessible in Python." />
    <meta property="og:image" content="https://hiphive.materialsmodeling.org/_static/logo-large.png" />
{% endblock %}
{% set css_files = css_files + ["_static/custom.css"] %}

{% block footer %}
 <script type="text/javascript">
    $(document).ready(function() {
        $(".toggle > *").hide();
        $(".toggle .header").show();
        $(".toggle .header").click(function() {
            $(this).parent().children().not(".header").toggle(400);
            $(this).parent().children(".header").toggleClass("open");
        })
    });
</script>
{% endblock %}
